.login{
    margin: auto;
    text-align: center;
    width: 30%;
    height: 100vh;
}

.login_emailIcon{
    color: gray;
    margin-right: 10px;

}

.login_emailIcon > .MuiSvgIcon-root{
    font-size: 5px;
}

.login_button{
    margin-top: 15px;
    border-radius: 20px;
    outline: none;
}